.flash-box
.wrapper
  .clearfix
    = render 'shared/sidebar'
    .chat-main
      .main-header
        .current-group
          %h2.current-group_name 
            = @group.name
          %ul.member-list    
            member:
            %li.member-list__name  
            test-user
            %li.member-list__name  
            test-user2
        = link_to 'edit', class: "edit" do
          .main-header{ class: "main-header__edit-btn"}
            %p EDIT
      .messages
        = render @messages
      .form
        .new-message
          = form_for [@group, @message]  do |f|
            .form__mask
              = f.text_field :content, class: 'form__message', placeholder: 'type a message'
              .form__mask__image
                = f.label :image, class: 'form__mask__image' do
                  = fa_icon 'picture-o', class: 'icon'
                  = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'
%iframe{ id:  "blockbyte-bs-sidebar", class:  "notranslate", data_pos:  "left"}
  %html{ dir:  "Itr"}
    %head
      %link(rel = "stylesheet" type = "text/css" href = "不明なフォント")
      %style{ class:  "blockbyte-bs-style"}
    %body{ class:  "loaded"}
.blocktype-bs-indicater


