.chat-side
  .side-header
    %p.side-header__user-name 
      = current_user.name
    %ul.user-menu
      %li.user-menu__new-group
        = link_to new_group_path do
          %i.fa.fa-edit 
      %li.user-menu__edit-user
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .groups
    = link_to(root_path) do
      .group
        %p.group__group-name group1
        %p.group__last-message 1111
    = link_to(root_path) do
      .group
        %p.group__group-name group2
        %p.group__last-message 1234
    = link_to(root_path) do
      .group
        %p.group__group-name group3
        %p.group__last-message 22
        